container{
    display: flex;
    flex-direction: column;
    margin: 2%;
}

main{
    display: flex;
    flex-direction: column;
    margin: 3% 0;
}

#recentes{
    font-size: 1.6em;
}

div[class*='bloco-postagem']{
    width: 60vw;
    height: 30vh;
    margin: 10%;
    background-color: #9790e00f;
    box-shadow: 4px 3px 15px 2px rgba(0,0,0, 0.2);
    padding: 2%;
    display: flex;
    flex-direction: column;
}

.postagens{
    display: flex;
    flex-direction: row;
}

#last-posts{
    margin-right: 30%;
}

#titulo{
    font-size: 1.3em;
}

#corpo-postagem{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1em;
    text-align: justify;
}

#data-de-postagem{
    display: flex;
    justify-content: flex-end;
    margin-top: 18%;
}

#form-insert-post{
    display: flex;
}
.box{
    text-align: center;
}
#add-post{
    text-align: center;
    background-color: brown;
    color: aliceblue;
    max-width: 22%;
    transition-duration: 99.6ms;
    margin: 0 auto;
}
#add-post:hover{
    max-width: 30%;
}
form{
    display: grid;
}
input, textarea{
    margin-top: 2%;
}