container{
    display: flex;
    flex-direction: column;
    margin: 2%;
}

main{
    display: flex;
    flex-direction: column;
    margin: 3% 0;
}

#recentes{
    font-size: 1.6em;
}

div[class*='bloco-postagem']{
    width: 60vw;
    height: 30vh;
    margin: 10%;
    background-color: #9790e00f;
    box-shadow: 4px 3px 15px 2px rgba(0,0,0, 0.2);
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.postagens{
    display: flex;
    flex-direction: row;
}

#last-posts{
    margin-right: 30%;
}

div[id*= 'titulo']{
    font-size: 1.3em;
    background-color: #F44336;
    color: white;
    text-align: center;
    margin-top: -2.5vh;
    border-bottom: 2px solid #000000d9;
}

input[id = 'titulo']::placeholder{
    color: white;
}

div[id*= 'corpo-postagem']{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 1.1em;
    text-align: justify;
    padding: 2em;
}

#data-de-postagem{
    display: flex;
    justify-content: flex-end;
    background-image: linear-gradient(45deg, transparent, #ff9800a6);
    color: #2f2323b3;
    text-shadow: 0px 1px 3px;
}
div[id*=imagem-post] img{
    max-height: 19vh;
    border: 0.2em solid #00000014;
}

#form-insert-post{
    display: flex;
}
.box{
    text-align: center;
}
#add-post{
    text-align: center;
    background-color: brown;
    color: aliceblue;
    max-width: 22%;
    transition-duration: 99.6ms;
    margin: 0 auto;
}
#add-post:hover{
    max-width: 30%;
}
form{
    display: grid;
}
input, textarea{
    margin-top: 2%;
    border: 0.1em solid;
    padding: 0.3%;

}

#post{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#post-title{
    font-size: 3em;
}

#post-content > div{
    margin: 8% 0;
}

#post-content{
    width: 60vw;
}

#img-post img{
    width: 60vw;
}

#nome{
    background-color: #000000d6;
    border-radius: 1px;
    color: white;
    padding: 1%;
}

#data{
    border-bottom: 2px solid;
    text-align: right;
    letter-spacing: 2px;
}

#comentario{
    margin-bottom: 2%;
    padding: 2%;
}

.enviar{
    max-width: 10vw;
    margin: 2% auto 0;
    background-color: #FF9800;
    color: white;
    padding: 1%;
    border: none;
}