container{
    display: flex;
    flex-direction: column;
    margin: 2%;
}

main{
    display: flex;
    flex-direction: column;
    margin: 3% 0;
}

#recentes{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.6em;
}

.postagens{
    display: flex;
    flex-direction: row;
}

#last-posts{
    margin-right: 30%;
}

#titulo{
    font-size: 1.3em;
}